@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <input type="text"
           id="cerca"
           onkeyup="getFoto()"
           class="form-control"
           placeholder="Cerca un post" />

    <div class="container d-flex justify-content-around flex-wrap p-5 gap-4" id="card-container">
        @* qui mettiamo le foto.... *@
    </div>
    <section>

        <div class="content-container">
            <div class="create-container">
                <h2>
                    Se hai dei dubbi o delle richieste puoi scrivere il messaggio che vuoi in basso e poi cliccare invia!
                </h2>
                <form id="message-create-form" onsubmit="formSubmit(event)">
                    <div class="row d-flex justify-content-center ">

                        <div class="mb-3 col-4">
                            <label for="exampleInputEmail1" class="form-label">Indirizzo email</label>
                            <input type="email" class="form-control" id="email">
                            <div id="emailHelp" class="form-text">Ricorda che non riveleremo la tua email a nessuno </div>
                        </div>
                        <div class="mb-3 col-5" >
                            <label for="exampleInputPassword1" class="form-label">Inserisci qui il messaggio</label>
                            <textarea type="textarea" rows="7" class="form-control" id="textMessage">

                            </textarea>
                        </div>

                    </div>
                     <button id="submit-btn" type="submit" class="btn btn-primary">Invia</button>
                     <span id="done" class="d-none text-primary">
                         Messaggio inviato!!
                     </span>
                 
                </form>
            </div>
        </div>
    </section>

</div>

@section Scripts{
    <script type="text/javascript" src="~/js/site.js">

    </script>

    <script>
        getFoto();
        
    </script>
}
