@model Message[]
@{
    var messages = Model;
}

<div class="container">
    <div class="category-container">
        <table>
            <tr>
                <th colspan="3">
                    Messaggi
                </th>
            </tr>
            @if (!messages.Any())
            {
                <tr>
                    <td colspan="3" style="text-align: center">
                        Nessun messaggio
                    </td>
                </tr>
            }
            @foreach(Message mes in messages)
            {
                <tr>
                    <td>
                        @mes.Title
                    </td>
                    <td>
                        @mes.Text
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

