<div class="content-container">
    <div class="create-container">
        <h2>
            Invia un messaggio al fotografo
        </h2>
        <form id="message-create-form">
            <div class="form-part">
                <label class="form-label" for="email">
                    Inseriscil'email: 
                </label>
                <input class="form-single" id="email" />
                <span id="email-errors" class="text-errors"></span>
            </div>
            <div class="form-part">
                <label class="form-label" for="text">
                    Inserisci il messaggio che vuoi mandare..
                </label>
                <input class="form-single" id=" text"/>
                <span id="textMessage-error" class="text-errors"></span>

            </div>
            <button class="btn btn-primary" type="submit">Invia messaggio</button>
        </form>
    </div>
</div>

@section Scripts{
    <script>

    </script>
}