@model FotoFormModel

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Crea un nuovo post!!</h1>
        </div>
        <form asp-controller="Foto" asp-action="Creazione" enctype="multipart/form-data" method="post">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <strong>Titolo:</strong>
                <input type="text" class="form-control" asp-for="Foto.Title">
                <span asp-validation-for="Foto.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <strong>Descrizione:</strong>
                <input type="text" class="form-control" asp-for="Foto.Description">
                <span asp-validation-for="Foto.Description" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <strong>Seleziona l'evento:</strong>
                <select asp-for="eventoIdSelezionato"
                        multiple="multiple"
                        size="10"
                        class="form-control mb-2 mr-sm-2 ml-sm-3 leftList"
                        asp-items="@Model.Categories">
                </select>
            </div>
            <div class="mb-3">
                <strong>URL Immagine:</strong>
                <input type="text" class="form-control" asp-for="Foto.Pathimg">
                <span asp-validation-for="Foto.Pathimg" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ImageFormFile">Seleziona l'immagine da caricare</label>
                <input type="file" asp-for="ImageFormFile" />
                <span asp-validation-for="ImageFormFile" class="text-error"></span>
            </div>


            <button type="submit" class="btn btn-primary">Crea il nuovo post</button>
        </form>
    </div>
</div>