<header class="p-3" style="background-color: #EEEAE0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top p-2">
        <div class="container">
            <a class="navbar-brand" href="#">Stefano Martino Fotografo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Foto/Index">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Messaggio/IndexMessaggi">Messaggi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/stefanom98/">Contact</a>
                    </li>
                    <li class="nav-item">

                        <partial name="_LoginPartial" />
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

